
@{
    ViewBag.Title = "Projects";
}

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Course</th>
    </tr>
    @foreach (var item in ViewBag.Projects)
    {
        <tr>
            <td>@item.ProjectTitle</td>
            <td>@item.ProjectDesc</td>
            <td>@item.ProjectCourse</td>
        </tr>
    }
</table>